# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.o
*.lo
*.la

cmake-build-debug

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

libs/
./include
gen/

/autom4te.cache/
/ac-aux/
/aclocal.m4
/config.h.in
/configure
Makefile.in
/m4/libtool.m4
/m4/lt*.m4

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
pjproject/*.mak
pjproject/*.log
pjproject/*.status
pjproject/build/os-auto.mak
pjproject/build/cc-auto.mak
pjproject/pjlib/lib
pjproject/pjlib-util/lib
pjproject/pjmedia/lib
pjproject/pjnath/lib
pjproject/pjsip/lib
pjproject/third_party/lib

pjproject-ext/CMakeFiles
pjproject-ext/CMakeScripts
pjproject-ext/xcode
pjproject-ext/build
pjproject-ext/Debug
pjproject-ext/pj-ext.build
pjproject-ext/pj-ext.xcodeproj
pjproject-ext/cmake_install.cmake
pjproject-ext/CMakeCache.txt

**/*.a
**/*.so
**/*.dylib
**/*.dylib.*
**/*.depend
**/os-auto.mak

./fvad
./fvad/*.log
./fvad/*.status
./fvad/libfvad.pc
./fvad/libtool
./fvad/Makefile
./fvad/stamp-*
./fvad/config.h
./fvad/autom4te.cache/
./fvad/ac-aux/
./fvad/aclocal.m4
./fvad/config.h.in
./fvad/configure
./fvad/Makefile.in
./fvad/m4/libtool.m4
./fvad/m4/lt*.m4
./fvad/**/*.lo
./fvad/**/*.la
./fvad/**/Makefile
.dirstamp
.deps
.libs

./opus
./opus/autom4te.cache
./opus/CMakeFiles
./opus/doc

./opencore-amr

./openssl
./openssl/Makefile
./openssl/**/*.pc
./openssl/**/*.pm

